.delivery-list {
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.coffee-delivery-img {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  float: left;
}

.text-name {
  justify-content: center;
  float: left;
  display: flex;
  padding: 0 5px 15px 16px;
}

.text-delivery-location {
  justify-content: center;
  float: left;
  display: flex;
  padding: 0 5px 0 16px;
}

.text-number {
  color: #a2a2a2;
}

.prise-delivery-coffee {
  float: right;
}
