.header {
  width: 327px;
  margin: 0 auto;
  margin-bottom: 95px;
  background-color: #2a2a2a;
  padding: 0 24px;
  height: 236px;
}

.conteiner-location {
  color: #fff;
  padding: 24px 0;
}

.location-title {
  color: #a2a2a2;
  padding-bottom: 8px;
  font-size: 12px;
  letter-spacing: 1%;
  line-height: 120%;
}

.location-form {
  color: #fff;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
}

.seting-conteiner {
  display: flex;
  justify-content: center;
}

.search-conteiner {
  position: relative;
  display: inline-block;
}

.search {
  background: linear-gradient(
    to right,
    rgba(180, 180, 180, 0),
    rgba(162, 162, 162, 0.1)
  );
  border: none;
  border-radius: 12px;
  padding: 17.5px 0 17.5px 44px;
  margin: 0 16px 24px 0;
  width: 214px;
}

.search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: #fff;
  padding: 16px 8px 16px 16px;
}

.seting-icon {
  fill: #fff;
  width: 20px;
  height: 20px;
  padding: 16px;
  background-color: #c67c4e;
  border-radius: 12px;
  cursor: pointer;
}
.seting-icon:hover {
  background-color: #8a5432;
  cursor: pointer;
}

.banner {
  background-image: url('../../../public/image/banner.jpg');
  width: 100%;
  border-radius: 12px;
  color: #fff;
}

.promo {
  color: #fff;
  background-color: #ed5151;
  border-radius: 8px;
  padding: 4px 6px;
  margin: 8px 13px;
}

.banner-title {
  padding: 27px 99px 13px 24px;
  margin: 0;
}
